{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wafiq Kicks!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'images/foot.png' %}"
      type="image/png"
    />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />

    <meta property="og:title" content="Wafiq Kicks!" />
    <meta property="og:description" content="let's count the kicks" />
    <meta property="og:site_name" content="SyafiqTermizi" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://syafiqtermizi.com/static/images/foot.jpg"
    />
    <meta
      property="og:image:url"
      content="https://syafiqtermizi.com/static/images/foot.jpg"
    />
    <meta property="og:image:alt" content="Baby Kicking" />
    <meta property="og:url" content="https://syafiqtermizi.com/#/home" />
    <style>
      nav {
        box-shadow: rgba(3, 27, 78, 0.1) 0px 2px 4px;
        outline: none;
      }
      .nav-link {
        color: lightgray;
      }
      .card-shadow {
        border: 1px solid rgb(229, 232, 237);
        box-shadow: rgba(1, 14, 40, 0.05) 0px 2px 4px;
      }
      .table th {
        border-top: none;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
    <script src="{% static 'build/main.js' %}"></script>
    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
